body {
	padding-top: 54px;
  	text-align: center;
    font-family: 'Karla', sans-serif;
  	font-size: 16px;
  	font-weight: lighter;
  	color:  #000000;
  	margin-bottom: 80px;
}

@media (min-width: 992px) {
    header {
        padding: 156px 0 100px;
    }
}

section {
    padding: 50px 0;
}

/* NAVBAR STUFF AND FOOTER STUFF */
.navbar {
    background-color: white !important;
    border: none !important;
    font-size: 20px;
    text-align: center;
}


/* INDEX PAGE */
#email {
  width: 100%;
	font-family: 'Cousine', monospace;
	font-size: 16px;
	color: black;
	background-color: rgba(241, 140, 121, 0.6);
  text-align: center !important;

}

.fa {
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 50px !important;
    width: 50px !important; 
    text-decoration: none;
    border-radius: 50%;
    color: #CFCFCF;
}

.fa:hover {
	color: #f18c79;
  text-decoration: none; 
}

.icons {
  text-align: center !important;
}

a {
	color:#f18c79;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
  color:#f18c79;
  background-color: transparent;
  text-decoration: none;
}

.container {
  position: relative;
}

/* MODAL */
.modal-title {
  color: #f18c79 ;
  font-size: 30px !important;
}

.modaltext {
    color: black !important;
    font-size:18px;
    text-align: left;
}

#jobTitle {
	font-size: 25px;
}


.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #f18c79 !important;
    border: #f18c79 !important;
  	color: white !important;
  	border-radius: 25%;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.navlink a:link {
    color: #999999; !important;
    background-color: transparent;
    text-decoration: none;
}

.navbar .navbar-nav > .active > a{
    color: #545454; !important;
}

#hvr {
  opacity: 1;
  transition: .5s ease;
}
#cnt:hover .img-fluid {
  opacity: .3;
}








